body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
}

#audiciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.audicion {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

input {
    display: block;
    margin: 5px 0;
    width: calc(100% - 12px);
    padding: 5px;
}
